
.x {
background-color: red;
color: blueviolet;
background-image: url('images/tom.png');
background-size: cover;

}
.o {
    background-color: black;
    color: #1d7b45;
    background-image: url('images/jerry.png');
    background-size: cover;
    
}

header {
    text-align: center;
    font-size: 80px;
    font-family: 'Luckiest Guy', cursive;
    color:  #6713d2;


}
.main{
    background-image: linear-gradient(-225deg, #B6CEE8 0%, #F578DC 100%);

}
.info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.reset{
    padding: 5px 60px;
    border: none;
    border-radius: 10px;
    background-color: rgb(107, 198, 255);

}
.reset :hover{
    box-shadow: #d09dff;
}
.buttons button {
    width: 150px;
    height: 150px;
    margin: 2px;
    border-radius: 50%;

  
}
.buttons {
    display: flex;
    justify-content: center;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
.score {
    text-align: center;
}
.score2 {
    text-align: center;
}
.gmae-wrapper {
    background-image: url('images/tom&jerry.jpeg');
    background-size: 1520px auto;
    background-repeat: no-repeat;
}

.winner {
    text-align: center;
    font-size: 80px;
    font-family: 'Luckiest Guy', cursive;
    color:  #6713d2;
}
.p2, .p5 {
    text-align: center;
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    color:  #6713d2;
}


@media only screen and (max-width: 800px) {
    .gmae-wrapper {
        background-size: 768px auto;

    }
    .buttons button {
        width: 70px;
        height: 70px;
        margin: 2px;
        border-radius: 50%;
    
      
    }
    header, .winner {
        font-size: 40px;
    }
  }
  @media only screen and (max-width: 425px) {
    .gmae-wrapper {
        background-size: 438px auto;

    }
    .buttons button {
        width: 35px;
        height: 35px;
        margin: 2px;
        border-radius: 50%;
    
      
    }
    header, .winner, .p2, .p5 {
        font-size: 20px;
    }
    .p1, .p2 {
        width: 35px;
        height: 35px;
    }
    .reset{
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        background-color: rgb(107, 198, 255);
    
    }
   
  }